@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin:0;
    font-family: "Comic Neue";
}

h1 {
    margin:0;
    font-family: "Comic Neue";
}

header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: #3AAACF;
    margin:0;
    padding:0;
}

.logo  {
    display:flex;
}

.icon {
    padding:10px;
}

ul {
    display:flex;
    list-style: none;
    font-size: 40px;
}

a {
    text-decoration:none;
    color:white;
    margin-right: 30px;
}

.iconL {
    color:#FFB970;
}

.container {
    background-color: #3AAACF;
    display: flex;
}

.foo {
    background-image: url(images/foo\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:30%;
    height:30vh;
}

.appss {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.apps {
    width:25%;
    padding:10px;
}

.copyrightp {
    margin-top: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
}
